* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background: #ACD9EC;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 450px;
    width: 700px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.login-container {
    display: flex;
    align-items: center;
    width: 50%;
    flex-direction: column;
}

.login-container h1 {
    font-weight: 50px;
    margin-bottom: 20px;
    color: #181D4E;
}

.icon i {
    color: #181D4E;
}



.social-icons a {
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    width: 40px;
    height: 40px;
    background-color: #A05E28;
    box-shadow: 0 0 5x rgba(0, 0, 0, 0.3);
}

.login-container span {
    margin-bottom: 20px;
    text-align: right;
    color: white;
}

.login-container form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
}

.email-label{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.login-container form input[type="email"],
.login-container form input[type="password"] {
    width: 300px;
    height: 30px;
    margin-bottom: 25px;
    border-radius: 5px;
}

.remember-forgot label{
    color: #181D4E;
}

.remember-forgot {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: row;
    width: 90%;
}

.login-container form button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background: #181D4E;
    color: white;
    border-color: aqua;
}

.remember-forgot a {
    color: #181D4E;
    text-decoration: none;
    align-items: flex-start;
}

.toggle-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 450px;
    width: 50%;
    background: #181D4E;
    border-radius: 20px;
}

.welcome-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
}

.welcome-container h1 {
    display: flex;
    font-weight: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    color: white;
}

.welcome-container p {
    display: flex;
    margin-bottom: 30px;
    color: white;
}

.welcome-container button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background: #181D4E;
    margin-bottom: 30px;
    color: white;
    border-color: aqua;
}

.login-container button:hover,
.welcome-container button:hover {
    background-color: #b7c035;
    border-color: #ffcc00;
    box-shadow: 0 0 10px #ffcc00;
}
form .error-message{
    color: red;
    font-size: 12px;
    margin: -15px 0 5px 25px;
    align-self: flex-start;
    text-align: right;
    
}


/* Sign-up page */

.sign-up-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    flex-direction: column;
}

.sign-up-container h1 {
    font-weight: 50px;
    margin-bottom: 30px;
    color: white;
}

.sign-up-container form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    flex-direction: column;
}

.sign-up-container form input[type="text"],
.sign-up-container form input[type="email"],
.sign-up-container form input[type="password"] {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.sign-up-container button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background: #181D4E;
    color: white;
    border-color: aqua;
}

.sign-in-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
}

.sign-in-container h1 {
    display: flex;
    font-weight: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    color: white;
}

.sign-in-container p {
    display: flex;
    margin-bottom: 30px;
    color: white;
}

.sign-in-container button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background: #181D4E;
    margin-bottom: 30px;
    color: white;
    border-color: aqua;
}

.sign-in-container button:hover,
.sign-up-container button:hover {
    background-color: #b7c035;
    border-color: #ffcc00;
    box-shadow: 0 0 10px #ffcc00;
}

form .error-message{
    color: red;
    font-size: 12px;
    margin: -15px 0 5px 25px;
    align-self: flex-start;
    text-align: right;
    
}

@media (max-width: 480px) {
    .login-container form input,
    .welcome-container button,
    .login-container form button,
    .sign-up-container form input {
        width: 90%;
    }
}